@model RockPaperScissor2.Models.PlayerViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlayersIndex</title>
</head>

<body>
    <h1 class="main-title">High Scores</h1>
    <button type="button" onclick="location.href='@Url.Action("Create", "Player")'">Add Player Info</button>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Players[0].PlayerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Players[0].PlayerOutcome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Players)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayerOutcome)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</body>
</html>
